.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section {
    border: solid rgb(5, 5, 57);
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    color: red;
    padding-left: 10px;
    border-left: 10px solid;
}

div {
    padding: 20px;
    margin: 10px;
    flex: 1 1 300px; 
}
h3 {
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200; 
}
p {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
i {
    color: red;
}